<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Stats</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <script src="frappe-charts.min.cjs.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
    <div class="container grid-lg mt-2">
        <h1>Stats</h1>
        <div id="chart">
        </div>
        <div id="app">
            <div v-for="(answer, i) in d">{{answer.title}} <hr v-if="(i+1)%5 ==0"></div>
        </div>
    </div>
</body>
<script>
var filename = window.location.hash.substr(1) + ".json"
var request = new XMLHttpRequest();
request.open('GET', filename, true);
request.onload = function() {
    var i, j, temparray, chunk = 5;
    labels = []
    for (var i = 0; i < 100 + 1; i += chunk) {
        labels.push(i.toString())
    }
    vals = [0]
    map = JSON.parse(request.responseText);
    data = map.stats
    count = 0
    for (i = 0, j = 100; i < j; i += chunk) {
        temparray = data.slice(i, i + chunk);
        for (var k = temparray.length - 1; k >= 0; k--) {
            count += temparray[k].count
        }
        vals.push(Math.round(count * 100 / map.count))
    }
    var d = {
        labels: labels,
        datasets: [{
            title: "% of " + decodeURIComponent(window.location.hash.substr(1)),
            values: vals
        }]
    };
    var chart = new Chart({
        parent: "#chart", // or a DOM element
        title: decodeURIComponent(window.location.hash.substr(1)),
        data: d,
        type: 'line', // or 'line', 'scatter', 'pie', 'percentage'
        height: 300,
        colors: ['#7cd6fd'],
    });
    var temp = []
    for (var i = 99; i >= 0; i--) {
        temp.unshift(data[i])
    }
    var app = new Vue({
        el: '#app',
        data: {
            d: temp,
        },
    })
};
request.send();
</script>

</html>
